.search-container {
  height: 100%;
}
.search-container h4 {
  font-size: 20px;
  font-weight: 600;
}
.noneOfPost {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30%;
}
.noneOfPost p {
  text-align: center;
  font-size: 20px;
}
